<div class="main ui container">
  <p>
    Here you can gatherer static data from GeoSampa and inject in a InterSCity
    instance.
  </p>

  <p>
    You can fetch this data accessing the platform url at
    '/collector/resources/data/last'
  </p>

  <p class="ui red segment">
    Keep in mind that it will inject the data in the selected platform instance.
    You can create the desired instance <%= link_to 'here', '/platforms' %>.
  </p>

  <div class="ui form">
    <%= form_tag("/geosampa_data", method: "post") do %>

      <div class="ui field">
        <label>Platform Instance</label>

        <div class="ui input">
          <%= select_tag :platform_id, options_for_select(@platforms) %>
        </div>
      </div>

      <div class="ui field">
        <label>Resource zip with shapefile url</label>

        <div class="ui labeled input">
          <div class="ui label">
            http://
          </div>
          <%= text_field_tag(:file_url, nil, placeholder: "http://geosampa.prefeitura.sp.gov.br/...demografica_2010&arqTipo=Shapefile") %>
        </div>
      </div>

      <div class="ui field">
        <label>Unique ID field</label>
        <div class="ui input">
          <%= text_field_tag(:unique_id, nil, placeholder: "Exemplo: df_regiao") %>
        </div>
      </div>

      <div class="ui field">
        <label>Resource Name</label>
        <div class="ui input">
          <%= text_field_tag(:resource_title, nil, placeholder: "Exemplo: Bus Station") %>
        </div>
      </div>

      <%= submit_tag("Inject dump", class: "ui green button") %>

    <% end %>
  </div>
</div>
