<!DOCTYPE html>
<html>
  <head>
    <title>Opendoor</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "application/header" %>

    <div class="ui grid">
      <div class="four wide column">
        <%= render "application/sidebar" %>
      </div>

      <div class="eight wide column">

        <% if flash[:error] %>
          <div class="ui negative message">
            <i class="close icon"></i>
            <div class="header">
              <%= flash[:error] %>
            </div>
          </div>
        <% end %>

        <% if flash[:success] %>
          <div class="ui positive message">
            <i class="close icon"></i>
            <div class="header">
              <%= flash[:success] %>
            </div>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
